{# src/Perso/BlogBundle/Resources/views/Blog/cabinet.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="page-title">
			<div class="page-title-content" style="color:#757b91;opacity:0.6;">
				<span class="page-title-soft">Le</span> Cabinet
			</div>
		</div>
		<div><img style="display:block; margin: 0 auto;" src="{{ asset('img/cabinet.jpg') }}"></div>
		
		<div class="bottom-content">
			<div class="clinique-bottomRight">
				<div style="margin-bottom:30px;font-family:MuseoSans-100;color:#717172;text-align:center;"><img style="display:block; margin: 0 auto;" src="{{ asset('img/logo-cabinet.png') }}"><br>
					Prendre un <span style="MuseoSans-500">rendez-vous</span>:<br>
					<a href="tel:0033143002828">01 43 00 28 28</a><br> 
					<a href="tel:0033633057281">06 33 05 72 81</a>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20977.20919263523!2d2.524022476196286!3d48.91251244723685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e613ae553d630f%3A0x978d2b5f4a397286!2sCabinet+de+Soins+du+Raincy!5e0!3m2!1sfr!2sfr!4v1409568888136" width="200" height="200" frameborder="0" style="border:0"></iframe>
				
			</div>
            <div class="clinique-bottomLeft">
                <h2 class='visage-title'>Le Cabinet Thiers</h2><br><br>
				Le cabinet est situé 49 Avenue Thiers, au Raincy (93340), à quelques mètres du Rond Point Thiers. Le cabinet est accessible facilement en voiture ou en transports en commun. Le stationnement en voiture est généralement aisé.<br>
				<br>
				Le Dr Benzaken occupe une salle de consultation et une salle de soins dans laquelle il pratique les injections (botox, acide hyaluronique), les petites interventions, et quelques soins post-opératoires.<br>
				<br>
				<h2 class='visage-title'>Comment s’y rendre ?</h2><br>
				<br>
				<strong>PAR LE RER :</strong><br>
				RER E : Gare du Raincy – Villemomble – Montfermeil<br>
				<br>
				<strong>PAR L'AUTOBUS :</strong><br>
				T.R.A - Veolia : ligne 601, 602, 603, 605, 644<br>
				R.A.T.P : ligne 114, 146<br>
				<br>
				<strong>PAR LA ROUTE :</strong><br>
				Le Raincy est proche de la sortie de l'autoroute A3 (Porte de Bagnolet, prendre direction Gagny / Villemomble / Le Raincy) ; A proximité également de l’A1, l’A4 et l’A104 par l'A86
            </div>
		</div>
	</div>
{% endblock %}