{# src/Perso/BlogBundle/Resources/views/Blog/clinique.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="page-title">
			<div class="page-title-content">
				<span style="font-family:'Museo Sans 100'">La</span> Clinique
			</div>
		</div>
		<div><img style="display:block; margin: 0 auto;" src="{{ asset('img/clinique.jpg') }}"></div>
		
		<div class="bottom-content">
			<div class="clinique-bottomRight">
				<div style="margin-bottom:50px;	"><a target="_blank" href="http://cliniquevauban.com/praticiens/praticien-benzaken-jack-59/"><img style="display:block; margin: 0 auto;" src="{{ asset('img/logo-clinique.png') }}"></a></div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.4674738492232!2d2.523249999999997!3d48.91787100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6139136e94e5d%3A0x3d3ce63ebb323017!2sPolyclinique+Vauban!5e0!3m2!1sfr!2sfr!4v1409568459766" width="200" height="200" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="clinique-bottomLeft">
                <h2 class='visage-title'>La Polyclinique Vauban</h2><br>
				<br>
				La Polyclinique est située 135 Avenue Vauban à Livry Gargan (93190)<br>
				La Polyclinique est conventionnée, agréée et classée A par l’Express avec 94/100.<br>
				<br>
				<h2 class='visage-title'>Une chirurgie de pointe</h2><br>
				<br>
				Constitué d’une soixantaine de médecins spécialistes et de chirurgiens, le corps médical de la Clinique Vauban couvre un ensemble de disciplines médicales et chirurgicales majeures. Son Unité de chirurgie accueille quotidiennement une soixantaine de patients dont une vingtaine en ambulatoire.<br>
				Pour sa pratique chirurgicale, la Clinique Vauban est titulaire de quatre autorisations de traitement des cancers, en chirurgie mammaire, en chirurgie digestive, en chirurgie urologique et thoracique.<br>
				Dotée d'un équipement de pointe elle bénéficie de plateaux techniques d'interventions neufs. Une unité d'endoscopie et d'explorations fonctionnelles complètent ce dispositif. Le développement d'une nouvelle unité urologique est actuellement en projet.<br>
				<br>
				La Clinique Vauban s’est par ailleurs engagée depuis plusieurs années, dans une politique active de qualité et de gestion des risques, plaçant la sécurité et la satisfaction de ses patients au tout premier rang de ses priorités.<br>
				Ses patients bénéficient ainsi d’une prise en charge globale alliant une large variété de spécialités, aux avantages d’une structure à taille humaine et de proximité, plus individualisée qu’à l’hôpital. Conventionnée, la clinique pratique le tiers-payant.<br>
				<br>
				<h2 class='visage-title'>Une innovation soutenue</h2><br>
				<br>
				Depuis 2003, sous l’impulsion d’une nouvelle direction, "Innovation" est le maître-mot pour caractériser un programme de transformations profondes. Il s'est notamment traduit par :<br>
				2004 – La mise en place d'un Scanner<br>
				2006 – L'ouverture d'un Centre de Réadaptation Fonctionnelle Neurologique<br>
				2007 – La mise en place d’une offre de Services à domicile<br>
				2008 – L'implantation d'un nouveau bâtiment technique de chirurgie<br>
				2009 – L'ouverture d'une consultation en ostéopathie<br>
				2010 – L'obtention d'une certification sans réserve de la Haute Autorité de Santé<br>
				2011 – La création d'un service de consultations non programmées, parallèlement à une mise aux normes de sécurité complète, de tout l'établissement<br>
				2012 – L'ouverture de 6 chambres supplémentaires pour les interventions chirurgicales avec sortie de clinique, le même jour.
            </div>
		</div>
	</div>
{% endblock %}