{# src/Perso/BlogBundle/Resources/views/Blog/mentions.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="bottom-content">
			<h2 class="visage-title">Mentions Légales</h2><br><br>
Ce site est un site d’informations. Il a été conçu pour vous familiariser avec les différentes techniques de chirurgie plastique et esthétique. Il ne fait état que de procédés reconnus et approuvés par la grande majorité du corps médical et par les sociétés savantes de chirurgie plastique et esthétique. La création de ce site a suivi les recommandations du Conseil National de l'Ordre des Médecins. Conformément aux recommandations de l’Ordre des Médecins, le contenu de ce site engage la responsabilité de son auteur, le Docteur Jack Benzaken.<br><br>
En accédant au site www.drjbenzaken.com publié par le Docteur Jack Benzaken, vous acceptez de vous conformer au Code de la Propriété Intellectuelle français et plus généralement aux traités et accords internationaux comportant des dispositions relatives a la protection des droits d'auteur, de creations et modeles et/ou de marques.C'est ainsi que vous vous interdisez de telecharger, reproduire meme partiellement, vendre, distribuer, emettre, publier ou communiquer sous quelque forme que ce soit les donnees, articles, photos, illustrations, sequences animées qui figurent sur le site, sans autorisation ecrite particuliere et prealable du Docteur Jack Benzaken et egalement d'introduire des donnees, photos ou illustrations sur le site qui modifieraient ou seraient susceptibles de modifier le contenu ou l'apparence des donnees, articles, photos, illustrations.<br><br>

Le traitement des informations confidentielles, telles que les adresses de courrier électronique (e-mail), le contenu de celui-ci ainsi que les échanges par e-mail entre le visiteur et le webmaster, ne sont pas enregistrés dans une base de données du site (serveur).<br><br>

L'accès est gratuit. Le site ne propose pas de conseil médical personnalisé. Il est financé en fond propre. Il ne contient pas de publicité.
		</div>
	</div>
{% endblock %}