{# src/Perso/BlogBundle/Resources/views/Blog/presse.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="page-title">
			<div class="page-title-content">
				<span class="page-title-soft">La</span> Presse
			</div>
		</div>
		<div><img style="display:block; margin: 0 auto;" src="{{ asset('img/presse.jpg') }}"></div>
		
		<div class="bottom-content" style="width:854px">
			<div style="margin:0 auto;width:640px">
				<div class="presse-video-title">Interview par Michel Cymes sur le plateau d'Allodocteur - Edition du 17 novembre 2011</div><br><br>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_chirurgien2.flv&amp;title=comment choisir son chirurgien ?" />
				</object>
				<br/><br/>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_risques.flv&amp;title=Quels sont les risques d'une rhinoplastie esthétique ?" />
				</object>
				<br/><br/>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_nez_casse.flv&amp;title=Rhinoplastie : peut-on réopérer ?" />
				</object>
				<br/><br/>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_cout.flv&amp;title=Rhinoplastie : combien ça coûte ?" />
				</object>
				<br/><br/>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_complications.flv&amp;title=Rhinoplastie : les complications ?" />
				</object>
				<br/><br/>
				<object type="application/x-shockwave-flash" data="http://flv-player.net/medias/player_flv_multi.swf" width="640" height="380">
					<param name="movie" value="http://flv-player.net/medias/player_flv_multi.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="FlashVars" value="flv=http%3A//www.allodocteurs.fr/upload/article/q_rhinoplastie_age.flv&amp;title=Rhinoplastie : à quel âge ?" />
				</object>
			</div>
		</div>
	</div>
{% endblock %}