{# src/Perso/BlogBundle/Resources/views/Blog/questions.html.twig #}

{% extends "JackBenzakenCmsBundle::base_frontend.html.twig" %}

{% block body %}
	<div class="bloc-container">
		<div class="page-title">
			<div class="page-title-content">
				<span class="page-title-soft">Vos</span> Questions
			</div>
		</div>
		<div><img style="display:block; margin: 0 auto;" src="{{ asset('img/questions.jpg') }}"></div>
		
		<div class="bottom-content">
			<h2 class='visage-title questions-title'>Abdominoplastie</h2><br><br>
1/ Combien de temps après une grossesse puis-je envisager une intervention ?<br>
Il est préférable d’attendre 6 mois<br><br>
2/Combien de temps après une abdominoplastie puis je reprendre le sport ?<br>
La rééducation débutera à partir du premier mois et les activités physiques au sixième.<br><br>
3/ L’abdominoplastie peut elle être prise en charge par la sécurité sociale ?<br>
En cas de tablier abdominal, c’est-à-dire un ventre venant recouvrir le pubis, une entente préalable pourra être demandé à la sécurité sociale.<br>
En cas de prise en charge, il restera à votre charge les dépassements d’honoraires qui pourront donner lieu à un remboursement partiel ou total par votre mutuelle selon vos garanties.<br>
<br>
<h2 class='visage-title questions-title'>Les prothèses mammaires</h2><br><br>
1/ L’intervention est elle douloureuse ?<br>
La douleur est fonction de la position de la prothèse. En retro musculaire c’est plus douloureux qu’en retro glandulaire.<br><br>
2/ Existe-t-il un risque plus important de cancer du sein avec des prothèses ?<br>
Le fait d’avoir des prothèses ne vous empêche pas de vous faire examiner les seins par votre gynécologue ainsi que de bénéficier de mammographies. Bien entendu, il faudra signaler la présence de prothèses au radiologue (mammo numérisée).<br><br>
3/ Quelle est la voie d’abord utilisée ?<br>
Elle sera déterminée au terme de la consultation en fonction de votre examen clinique.<br>
Mais dans la majorité des cas je privilégie la voie hemi aréolaire inférieure.<br>
<br>
<h2 class='visage-title questions-title'>Les paupières</h2><br><br>
1/ Les cicatrices sont elles visibles ?<br>
A la paupière supérieure elles sont dissimulées dans un pli et seule la partie externe peut rester « rouge » quelques semaines.<br>
A la paupière inférieure  elle est située au ras des cils et disparaît rapidement.<br>
Le maquillage de la paupière est possible au 8ème jour.<br>
<br>
<h2 class='visage-title questions-title'>La rhinoplastie</h2><br><br>
1/ Quand peut-elle être prise en charge ?<br>
En cas de rhinoplastie post traumatique, quand il existe une bosse importante, associée à une déviation de la cloison nasale, une entente préalable peut être demandée à la sécurité sociale.<br>
Vous serez en général convoqué par le médecin conseil qui décidera ou non de donner son accord.<br><br>
2/ Une retouche est-elle obligatoire ?<br>
Absolument pas, mais dans la mesure où l’évolution d’une rhinoplastie est longue (1 an), le bilan définitif se fera à cette date et parfois une retouche peut être nécessaire<br><br>
3/ Quand reprendre le sport ?<br>
Il vaut mieux éviter tout sport où un risque de contact existe pendant au moins 3 mois.<br>
<br>
<h2 class='visage-title questions-title'>La liposuccion</h2><br><br>
1/ Peut-on aspirer les jambes et les mollets ?<br>
Absolument pas, ce ne sont pas des zones accessibles à la liposuccion.<br><br>
2/ Quand peut-on voir le résultat définitif ?<br>
Pas  avant 6 mois. La qualité du résultat dépend et de l’intervention et de la qualité des soins post opératoires (drainage,endermologie,..)<br><br>
3/ Le résultat est il définitif ?<br>
Si il existe une bonne hygiène de vie dans les suites, à l’endroit des zones traitées, il n’y a en principe, pas de récidive.
		</div>
	</div>
{% endblock %}